In [101]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/albus/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [92]:
sms_messages = pd.read_csv('spam.csv', encoding="ISO-8859-1")

In [93]:
sms_messages.rename(columns = {'v1':'label', 'v2': 'message'}, inplace = True)
sms_messages = sms_messages[['label', 'message']]

In [94]:
sms_messages.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [95]:
#1. To lowercase
#2. Alphanumeric only
#3. Remove redundant whitespaces
#4. Remove stopwords
#5. Lemmatization

In [96]:
# Lowercase
sms_messages['message'] = sms_messages['message'].str.lower()
lowercased_sms = sms_messages
lowercased_sms.head()

  label                                            message
0   ham  go until jurong point, crazy.. available only ...
1   ham                      ok lar... joking wif u oni...
2  spam  free entry in 2 a wkly comp to win fa cup fina...
3   ham  u dun say so early hor... u c already then say...
4   ham  nah i don't think he goes to usf, he lives aro...

In [97]:
# Alphanumeric only
lowercased_sms['message'] = lowercased_sms['message'].str.replace('[^a-zA-Z0-9\s]', '')
alphanumeric_sms = lowercased_sms
alphanumeric_sms['message']

0       go until jurong point crazy available only in ...
1                                 ok lar joking wif u oni
2       free entry in 2 a wkly comp to win fa cup fina...
3             u dun say so early hor u c already then say
4       nah i dont think he goes to usf he lives aroun...
                              ...
5567    this is the 2nd time we have tried 2 contact u...
5568                   will  b going to esplanade fr home
5569    pity  was in mood for that soany other suggest...
5570    the guy did some bitching but i acted like id ...
5571                            rofl its true to its name
Name: message, Length: 5572, dtype: object

In [98]:
alphanumeric_sms.tail()

     label                                            message
5567  spam  this is the 2nd time we have tried 2 contact u...
5568   ham                 will  b going to esplanade fr home
5569   ham  pity  was in mood for that soany other suggest...
5570   ham  the guy did some bitching but i acted like id ...
5571   ham                          rofl its true to its name

In [106]:
# Remove redundant whitespaces
alphanumeric_sms['message'] = alphanumeric_sms['message'].apply(lambda row: " ".join([word for word in row.split() if word != ' ']))
alphanumeric_sms.head()

  label                                            message
0   ham  go until jurong point crazy available only in ...
1   ham                            ok lar joking wif u oni
2  spam  free entry in 2 a wkly comp to win fa cup fina...
3   ham        u dun say so early hor u c already then say
4   ham  nah i dont think he goes to usf he lives aroun...

In [113]:
#Remove stopwords
stop = stopwords.words('english')
alphanumeric_sms['message'] = alphanumeric_sms['message'].apply(lambda row: " ".join([word for word in row.split() if word not in stop]))
alphanumeric_sms.head()

  label                                            message
0   ham  go jurong point crazy available bugis n great ...
1   ham                            ok lar joking wif u oni
2  spam  free entry 2 wkly comp win fa cup final tkts 2...
3   ham                u dun say early hor u c already say
4   ham        nah dont think goes usf lives around though

In [117]:
alphanumeric_sms['label'] = alphanumeric_sms['label'].apply(lambda word: 1 if word == 'ham' else 0)
alphanumeric_sms.head()

   label                                            message
0      1  go jurong point crazy available bugis n great ...
1      1                            ok lar joking wif u oni
2      0  free entry 2 wkly comp win fa cup final tkts 2...
3      1                u dun say early hor u c already say
4      1        nah dont think goes usf lives around though