In [1]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
import re
# nltk.download('stopwords') # uncomment if your machine doesn't contain stopwords already

In [2]:
def text_cleanup(original_text):
    """
    1. Original to lowercase.
    2. Remove all non-alphanumeric characters.
    3. Remove redundant whitespaces.
    4. Remove stopwords.
    5. Return the new text.
    """
    
    # 1. Original to lowercase
    lower_text = original_text.lower()
    
    # 2. Remove all non-alphanumeric characters
    alphanumeric_text = re.sub(r'[^\d\w\s]', '', lower_text)
    
    # 3. Remove redundant whitespaces.
    whitespaces = ' '.join([word for word in alphanumeric_text.split() if word != ' '])
    
    # 4. Remove stopwords
    stop = stopwords.words('english')
    without_stopwords = ' '.join([word for word in whitespaces.split() if word not in stop])
    
    return without_stopwords

In [3]:
# Read the .csv file and drop 
sms_messages = pd.read_csv('spam.csv', names=['label', 'message'], index_col=False, header=0, encoding="ISO-8859-1")
sms_messages

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
sms_messages['cleaned'] = sms_messages['message'].apply(lambda row: text_cleanup(row))

In [5]:
sms_messages

,label,message,cleaned
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...
3,ham,U dun say so early hor... U c already then say...,u dun say early hor u c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah dont think goes usf lives around though
...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,2nd time tried 2 contact u u å750 pound prize ...
5568,ham,Will Ì_ b going to esplanade fr home?,ì_ b going esplanade fr home
5569,ham,"Pity, * was in mood for that. So...any other s...",pity mood soany suggestions
5570,ham,The guy did some bitching but I acted like i'd...,guy bitching acted like id interested buying s...
5571,ham,Rofl. Its true to its name,rofl true name